.subscribe{
    background-color: rgb(228, 0, 0);
    color: white;
    border: none;
    border-radius: 24px;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    cursor: pointer;
    transition: opacity 0.15s;
    margin: 3px;
}

.subscribe:hover{
    opacity: 0.7;
}

.subscribe:active{
    opacity: 0.5;
}

.join{
    background-color: white;
    color: rgb(95,152,227);
    border: 1px;
    border-style: solid;
    border-color: rgb(95,152,227);
    border-radius: 24px;
    text-align: center;
    font-size: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    transition: 0.15s;
    margin: 3px;
}

.join:hover{
    background-color: rgb(48, 128, 232);
    color: white;
}

.join:active{
    opacity: 0.6;
}